name: Build & deploy to F-Droid Store

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Check release name
        run: echo 'Deploy to F-Droid Store with release name ${{ github.ref_name }}'

      - name: Grant rights gradlew
        run: chmod +x ./gradlew

      - name: Gradle build
        run: ./gradlew build

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Sign APK
        uses: upup-company/apksigner-android@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Read version code
        id: get_version_code
        run: echo "::set-output name=version_code::$(./gradlew -q printVersionCode)"

      - name: Read changelog file
        id: get_changelog
        run: echo "::set-output name=changelog::$(cat metadata/en-US/changelogs/${{ steps.get_version_code.version_code }})"

      - name: Create github release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            ${{ steps.get_changelog.changelog }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{steps.sign_app.outputs.signedReleaseFile}}
          asset_name: cavity.apk
          asset_content_type: application/vnd.android.package-archive
